{% extends 'common/basic_layout.html.twig' %}
{% set active = 'about.home' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>About SOS</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron %}

{% block content %}


        <div class="bs-example">
        <h2> About Somerville Open Studios </h2>
        <p>Somerville Open Studios (SOS) is a non-profit organization formed for the purpose of producing an annual open studio and related events in Somerville, Massachusetts.
            </p><p>
            Through its programming, SOS gives access to the work of visual artists living and working in the city of Somerville. We provide opportunities to view art made within the community; to interact with local artists; and to have access to artists' working spaces. Our goal is to broaden the public's exposure to, and appreciation of, finished works of art as well as the art-making process. This exposure both educates the community and raises awareness of the diverse artistic experience available in Somerville.
            </p><p>
            Somerville Open Studios is managed by a Board of Directors comprised of participating artists. An Open Studios executive committee is formed each year to organize the event. This committee is assisted by many dedicated volunteers. New volunteers are always welcome. Please contact us if you would like to become involved!

        </p><br>
        </div>



    <div class="row">
        <div class="col-md-8">
            <div class="staff_list highlight bs-callout bs-callout-danger">
                <h3> 2019 SOS Event Staff</h3>
                <b> More updates coming soon</b><br>


                <p class="hp">

                <h5>Special Projects</h5>
                <p class="h4p">
                    <b>Hilary Scott</b> (home studio) - Honk! Parade<br>

                <h5>Membership</h5>
                <p class="h4p"><b>Johanna Finnegan-Topitzer</b> Membership Coordinator<br>
                </p>


                <h5>Sponsorship</h5>
                <p class="h4p"><b>Sarah Carlson</b> - Sponsorship Coordinator<br>
                </p>

                <h5>Volunteers</h5>
                <p class="h4p"><b>Christina Tedesco</b> - Volunteer Coordinator <br>
                </p>

                <h5>Trolleys</h5>
                <p class="h4p"><b>Matt Kaliner</b> - Trolley Coordinator<br>
                </p>


                <h5>Website and Databases</h5>
                <p class="h4p"><b>Aram Comjean</b> (SOS supporter) &#151; Webmaster<br>
                    <b>Ron Newman</b> (SOS supporter) &#151; Site QA, Website and Database Assistance<br>
                </p>
            </div>
        </div>


        <div class="col-md-4">
            <div class="bs-callout bs-callout-info">
                <h3>2018/2019 SOS Board of Directors</h3>
                <p>
                    <b>Hilary Scott</b>   <em>President</em><br>
                    <b>Peter Belford</b>   <em>Treasurer</em> <br>
                    <b>Terry Dovidio</b>   <em>Clerk</em> <br>

                    <br>
                    <b>Sarah Carlson</b>  <br>
                    <b>Aram Comjean</b>  <br>
                    <b>Johanna Finnegan-Topitzer</b>  <br>
                    <b>Matt Kaliner </b>  <br>
                    <b>Christina Tedesco</b>


                </p>
            </div>
        </div>
    </div>
{% endblock content %}