{% extends 'common/basic_layout.html.twig' %}
{% set active = 'about.contact' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Contact Us</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron %}

{% block content %}


        <div class="bs-callout bs-callout-danger">
        <h2> Contact Somerville Open Studios </h2>
<hr>

<p>Are you a Somerville Artist looking to participate? Want to volunteer? Have another question? Write, call, or e-mail us for more information about Somerville Open Studios. We'd love to hear from you!</p>

<h3>Mail</h3>

Somerville Open Studios<br>
PO Box 442115<br>
Somerville, MA 02144<br>
<hr/>

<h3>Phone</h3>

617.398.0346

<hr/>

<h3>Social Media</h3>
<h4>Facebook</h4>
<p>Our official Facebook page is <b><a href="https://facebook.com/SomervilleOpenStudios">Facebook.com/SomervilleOpenStudios</a></b></p>

<p>We also have a separate <a href="https://www.facebook.com/groups/9915214405/">SOS discussion group</a> on Facebook.</p>

<h4>Twitter</h4>
<p>Follow us at <b><a href="https://twitter.com/SomervilleOS">@SomervilleOS</a> </b></p>

<p>Use the hashtag <b><a href="https://twitter.com/hashtag/SOS2015">#SOS2015</a></b> when tweeting about SOS.</p>

<h4>Other social and pictorial media</h4>

<p>SOS is also on ...

<ul>
<li><a href="http://somervilleopenstudios.tumblr.com/">Tumblr</a></li>
<li><a href="http://instagram.com/somervilleopenstudios">Instagram</a></li>
<li><a href="http://www.pinterest.com/somervilleos/somerville-open-studios-2014/">Pinterest</a></li>
<li><a href="https://www.flickr.com/groups/somervilleopenstudios/">Flickr</a>
</ul>

<hr/>

<h3>Email</h3>
<p>The fastest way to get to your comment or question to the right person!<br>
<br>
<strong>General</strong><br>
sos@somervilleopenstudios.org
</p><p>
<strong>Post-Event Feedback &amp; Comments</strong><br>
feedback@somervilleopenstudios.org
</p><p>
<strong>Membership and Registration</strong><br>
membership@somervilleopenstudios.org
            </p><p>
                <strong>Beyond the Pattern, Fashion Show information </strong><br>
                beyondthepattern@somervilleopenstudios.org
            </p><p>
                <strong>SOS First Look Exhibit Questions</strong><br>
                exhibit@somervilleopenstudios.org
</p><p>
<strong>Sponsorship & Map Book Ads</strong><br>
sponsorship@somervilleopenstudios.org
</p><p>
<strong>Press & Publicity</strong><br>
publicity@somervilleopenstudios.org
</p><p>
<strong>Educational Partnership</strong><br>
education@somervilleopenstudios.org</p><p>
<strong>Website</strong><br>
webmaster@somervilleopenstudios.org
</p><p>
</p>
  </p>
  </div>

        </div>


{% endblock content %}