{% extends 'common/basic_layout.html.twig' %}
{% set active = 'about.education' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>SOS In Education</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron %}

{% block content %}
<div id="row">
    <div class="col-md-8">

    <div class="staff_list highlight bs-callout bs-callout-danger">
               <h3>Educational Partnerships</h3>
<p
Somerville Open Studios (SOS) is excited about its continuing collaborative work with the Somerville schools. SOS Educational Partnerships is an ongoing program that allows teachers in the Somerville elementary schools to receive assistance from SOS artists in the design and execution of in-class art projects directly related to classroom curriculum.<br>
              <br>
                            SOS artists help teachers connect their curricula with a “hands-on” project by designing, constructing and choosing materials that match the skill level of the class and aspire to a high-quality result. SOS supplies materials, while the artist assists the teacher and children for the duration of the project.<br>
              <br>
                            The program offers Somerville children the opportunity to create quality dioramas, artifacts and art alongside a working artist. This process allows the ideas the students are studying to truly come alive, and it leaves them with the special sense of accomplishment that accompanies the creation of a beautiful object.<br>

              <br>
                            Over the last few years, SOS artists have collaborated with Healey Elementary School teachers to design and complete a wide variety of curriculum projects: dinosaur fossils, Mesopotamian cuneiform tablets, Egyptian tomb paintings, Roman aqueducts and coliseums, Greek masks, Native American dwellings, Colonial candlestick holders, and the head of MacBeth.<br>
              <br>
                            SOS artists are happy to speak with teachers regarding their particular needs around different curriculum. We hope the process of creating art from conception to implementation will be fun and enhance learning for both the teachers and students!<br>
              <br>
                            Please <a href="mailto:education@somervilleopenstudios.org">contact SOS</a> for more information regarding volunteering for the project or if you're a Somerville teacher looking for an artist to work with.<br>

            <br>


         </div>
     </div>

    <div class="col-md-4">
        <div class="bs-callout bs-callout-info">

            <h3>One of Our Projects</h3>
            <br>
            <span style="font-weight: bold">The Challenge:</span><br>
            Mrs. Taylor wants a project that reinforces cooperative learning, and is a reward for her students. Her class begs her to do "something with dinosaurs" which is not part of the standard curriculum.<br>
            <br>
            <span style="font-weight: bold">The Solution:</span><br>

            Make something large that stresses cooperation and is simple enough for 7 year-old hands. Let's build a dinosaur fossil!</td>
            <span class="Subtitle">Building a Dinosaur Fossil</span><br><br>
                <img src="{{ app.request.basepath }}/web/images/education/studying.jpg" width="200" height="141"><br>
                <span class="SmallTxt">Studying the Fossil</span><br><br>
                <img src="{{ app.request.basepath }}/web/images/education/building.jpg" width="200" height="141"><br>
                <span class="SmallTxt">Building the Dinosaur</span><br><br>
                <img src="{{ app.request.basepath }}/web/images/education/completed.jpg" width="200" height="142"><br>

             <span class="SmallTxt">The Completed Project!</span>



    </div>
    </div>
    </div>
{% endblock content %}