{% extends 'common/basic_layout.html.twig' %}
{% set active = 'about.press_info' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>About SOS</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron %}

{% block content %}



        <div class="staff_list highlight bs-callout bs-callout-danger">
            <h3> 2018 Press Information</h3>

            <p>Media information for Somerville Open Studios 2018 will be posted when available.  <br> If you have questions about this year's event, please
contact us at <a href="mailto:publicity@somervilleopenstudios.org">publicity@somervilleopenstudios.org</a>

        </div>

{% endblock content %}