{% extends 'common/basic_layout.html.twig' %}
{% set active = 'about.home' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Volunteering With Somerville Open Studios!</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron %}

{% block content %}

    <div class="col-md-8">
        {% include "events_short/2019_volunteer_pickup.html.twig" %}

        <div class="bs-callout bs-callout-danger">
            <h3> Volunteering with Somerville Open Studios </h3>
            <img width="100%" src="{{ app.request.basepath }}/web/images/volunteer/volunteer_photo_2017_w_signs.jpg">
            <em> Photo: Ellien Laramee-Byers </em>
            <br/><br/>
            <p>Somerville Open Studios is a volunteer run organization. Our volunteers come from all over Somerville and beyond.
            </p>
            <p>
           Artists, art lovers, supporters, and friends come together to create something bigger than any one of us could make on our own.
           <b>Join us! You can help! </b>

            </p><p>

                <h4>Sign up online</h4>
                You can take a look where we need help with our <a class="btn btn-warning btn-large" href="{{  path('volunteer.signup') }}">Online Signup</a>

            <br/><br/>
            Drop us a line at volunteer@somervilleopenstudios.org with additional questions.

        </p><br>

        </div>

    </div>



    <div class="col-md-4">

        <h4> </h4>

        <img src="{{ app.request.basepath }}/web/images/volunteer/sos_org_chart_graph_vert.jpg" alt="volunteer roles">

    </div>

{% endblock content %}