{% extends 'common/basic_layout.html.twig' %}
{% set active = 'about.home' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}



{% block jumbotron %}


    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>About SOS</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron %}

{% block content %}

    <div class="col-md-6">

        <div class="bs-example">
        <h2> About Somerville Open Studios </h2>
        <p>Somerville Open Studios (SOS) is a non-profit organization formed for the purpose of producing an annual open studio and related events in Somerville, Massachusetts.
            </p>
        </div>

        <div class="bs-callout bs-callout-danger pfont" style="padding-left: 40px;">
            <h3> VOLUNTEER!</h3>


                {{ form_start(form) }}
                {{ form_errors(form) }}

                <br/><br/>

            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.vol_pos) }}

                <p> if you entered other, fill in details in the Comments.<br/>
                <em> Comments are also our chance to tell us something about yourself or to suggest some other way you would like to be involved. </em>
                {{ form_row(form.comments) }}
                <br/>
                {{ form_row(form.submit, { 'label': 'Volunteer!' }) }}

                {{ form_end(form) }}


        </div>
    </div>
    <div class="col-md-6">
        <div class="bs-callout bs-callout-danger pfont" style="padding-left: 40px;">
            <h3> Position Details</h3>

            {% for detail in job_details %}
                <hr>
                <b>{{ detail.name  }} </b>
                {{ detail.description|raw }}
            {% endfor %}
        </div>



    </div>



{% endblock content %}