{% extends 'common/basic_layout.html.twig' %}
{% set active = 'about_list' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Somerville Open Studios <br/> Artist Directory </h2>

            </div>
        </div>
    </div>

{% endblock jumbotron %}

{% block content %}

    <div class="">
        <div class="col-md-12 staff_list highlight bs-callout bs-callout-danger">

            <h3> 2018 Artist Directory</h3>

            <h4> {{ list_name }}</h4>

            {% include "artists/artist_button_type.html.twig" %}

            <h4> MAP</h4>
            <div style="width: 100%; height: 480px; border: 1px" id="map_canvas" class="map rounded"></div>


        </div>
    </div>




    {% include "common/map_js.html.twig" %}


    <table class="table table-striped table-condensed">
        {% for key,item in artist_data %}

        {% if item.Participating =='Y' %}

        <tr>

            <td>
                {% if item.map_number is not empty %}
                   &nbsp <a href="{{ path('artists_directory_map_number',{'mapNumber': item.map_number, 'type':'map'}) }}"> {{ item.map_number }}</a>
                {% else %}
                    -
                {% endif %}
                </a>
            </td>
            <td>
                <a href="{{ path('artists_profile',{'id': item.member_id}) }}">
                    <img src="/artist_files/artist_images/splash/{{ item.id }}.jpg" height="90px" width="90px"
                         alt=" ">
                </a>
            </td>
            <td>
                <a href="{{ path('artists_profile',{'id': item.member_id}) }}">
                    <b>{{ item.PublicFirstName }}  {{ item.PublicLastName }} </b>
                    {% if item.BusinessName is not empty %}
                        <br/><b>{{ item.BusinessName  }} </b>
                    {% endif %}

                    {% if item.building_name is not empty %}
                        <br/>{{ item.building_name  }}
                    {% endif %}
                </a>

                {% if item.Participating =='Y' %}
                    <br/>  {{ item.street_address  }}
                {% else %}
                    <br/> Studio Not Open For Event
                {% endif %}


            </td>
            <td> {{ item.ShortDescription }}</td>
            <td>
                {% if item.FridayNight =='Y' %}
                    Open <br/> Friday
                {% else %}

                {% endif %}

            </td>


            </tr>
            </div>
            {%  endif %}
            {%  else %}

                <h4> No Artists Found</h4>

            {% endfor %}

    </table>



{% endblock content %}