<p> Show By: </p>
{%  if type_link is defined and type_link is not null and type_link is not empty %}
<div class="btn-group" role="group" aria-label="...">
    <a href="{{ type_link.list }}" type="button" class="btn btn-default"> List </a>
    <a href="{{ type_link.grid }}" type="button" class="btn btn-default"> Thumbnails </a>
    <a href="{{ type_link.map }}" type="button" class="btn btn-default"> Map </a>
</div>
{% endif %}
<p> </p>