{% extends 'common/basic_layout.html.twig' %}
{% set active = 'about_list' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Somerville Open Studios <br/> Artist Directory </h2>

            </div>
        </div>
    </div>

{% endblock jumbotron %}

{% block content %}

    <div class="">



        <div class="col-md-12 staff_list highlight bs-callout bs-callout-danger">
            <h3> 2018 Artist Directory</h3>

            <h4> {{ list_name }}</h4>

            {% include "artists/artist_button_type.html.twig" %}
            <div class="row">

            {% for key,item in artist_data %}
{#
                {% if (loop.index + 5) % 6 ==0 %}
                    <div class="row">
                {% endif %}

#}
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <a href="{{ app.request.basepath }}/artists/artist_profile/{{ item.id }} ">
                        <img src="/artist_files/artist_images/splash/{{ item.id }}.jpg" height="150" width="150"
                             alt=" ">

                        <div class="thumbnail_label">
                            {% if item.BusinessName is not empty %}
                               {{ item.BusinessName  }}
                            {% else %}
                                {{ item.PublicFirstName }} {{ item.PublicLastName }}
                            {% endif %}

                        </div></a>
                </div>
{#
                {% if (loop.index + 10)  %6 ==0 %}

                    </div>
                    <div class="row"> &nbsp </div>
                {% endif %}
#}
            {% endfor %}
            </div>


        </div>
    </div>

{% endblock content %}