{% extends 'common/basic_layout.html.twig' %}
{% set active = 'about_list' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Somerville Open Studios <br/> Artist Directory </h2>

            </div>
        </div>
    </div>

{% endblock jumbotron %}

{% block content %}

    <div class="">


        <div class="col-md-12 staff_list highlight bs-callout bs-callout-danger">
            <h3> Artist Directory</h3>

            <h4> {{ list_name }}</h4>

            {% include "artists/artist_button_type.html.twig" %}

            <table class="table table-striped">
            {% for key,item in artist_data %}
                <tr>
                   <td>
                   {% if item.id  matches '/^\\d+$/'  %}
                        <a href="{{ path('artists_profile',{'id': item.id}) }}">
                        {% else %}
                        no link
                        {% endif  %}
                        <img src="/artist_files/artist_images/splash/{{ item.id }}.jpg" height="90px" width="90px"
                             alt=" ">
                             </a>
                   </td>
                   <td>
                   <a href="{{ path('artists_profile',{'id': item.member_id}) }}">
                   <b>{{ item.PublicFirstName }}  {{ item.PublicLastName }} </b>
                         {% if item.BusinessName is not empty %}
                                <br/><b>{{ item.BusinessName  }} </b>
                            {% endif %}

                             {% if item.building_name is not empty %}
                                <br/>{{ item.building_name  }}

                         {% endif %}
                    </a>
                           {% if item.Participating =='Y' %}
                               <br/>  {{ item.street_address  }}
                            {% else %}
                                {% if item.Active =='Y' %}
                                   <br/> Studio not open for event
                                {% else %}
                                   <br/> Not yet registered for 2019

                                {% endif %}
                            {% endif %}

                   </td>
                     <td> {{ item.ShortDescription }}</td>

                   <td>
                   {% if item.FridayNight =='Y' %}
                      Open <br/> Friday
                   {% else %}

                   {% endif %}

                   </td>

                   <td>
                            {% if item.map_number is not empty %}
                               <a href="{{ path('artists_directory_map_number',{'mapNumber': item.map_number, 'type':'map'}) }}"> {{ item.map_number }}</a>
                            {% else %}
                               -
                            {% endif %}
                            </a>
                   </td>

                        </div>
                </div>

            {%  else %}

                <h4> No Artists Found</h4>

            {% endfor %}

            </table>


        </div>
    </div>

{% endblock content %}