{% extends 'common/basic_layout.html.twig' %}
{% set active = 'about.press_info' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}
<br><br>
{% endblock jumbotron %}

{% block content %}

    {% include "common/map_js.html.twig" %}

    {% if search_nav is not empty %}



        <div class="row">

            <div class="col-md-12">
                    <br>
                    <span style="font-size: 1.3em; padding-top: 200px"> <b> Search: <a href="{{search_nav.url}}">  {{ search_name }}  </b> {{ search_nav.counter }} </a> &nbsp &nbsp </span>

                <div class="btn-group" role="group" aria-label="...">

                    {# MENU FOR SEARCH#}

                    {% if search_nav.previous is not empty %}
                        <a href="{{ path('artists_profile',{'id':search_nav.first }) }}" type="button" class="btn btn-default" >  << First </a>
                        <a href="{{ path('artists_profile',{'id':search_nav.previous }) }}" type="button" class="btn btn-default"> < Previous </a>
                    {% else %}
                        <span type="button" class="btn btn-default" style="color:#eeeeee"> << First </span>
                        <span type="button" class="btn btn-default" style="color:#eeeeee"> < Previous </span>
                    {% endif %}

                    {% if search_nav.next is not empty %}
                        <a href="{{ path('artists_profile',{'id':search_nav.next }) }}" type="button" class="btn btn-default"> Next > </a>
                        <a href="{{ path('artists_profile',{'id':search_nav.last }) }}" type="button" class="btn btn-default"> Last >> </a>
                    {% else %}
                        <span type="button" class="btn btn-default" style="color:#eeeeee"> Next > </span>
                        <span type="button" class="btn btn-default" style="color:#eeeeee"> Last >> </span>

                    {% endif %}


                    {% if search_nav.random is not empty %}
                        <a href="{{ path('artists_profile',{'id':search_nav.random }) }}" type="button" class="btn btn-default"> Random </a>
                    {% endif %}

            </div>
        </div>
    {% endif %}

    <div class="col-md-12">
        <div class="staff_list highlight bs-callout bs-callout-danger">
            {% if thumbnail_data.image_exists %}

            <div style="float:left; margin-right:20px">
                <img src="/{{ thumbnail_data.filename_and_path}}" alt="artist thumbnail" width="100px">
            </div>
            {% endif %}


            {%  if artist_data.BusinessNameOption == "Y"  %}
              <h2>{{  artist_data.BusinessName }} </h2>
            {% endif %}
            <h2>  {{artist_data.PublicFirstName}}  {{artist_data.PublicLastName}}  </h2>
            {% if artist_data.MemberType >3  %}

                <p>
                {{ artist_data.OrganizationDescription | convert_encoding('UTF-8','ISO-8859-1') |nl2br}}
                </p>
            {%  endif %}
       <p> {{artist_data.ShortDescription}} </p>


        </div>
    </div>
    <div class="col-md-6">
        <div class="bs-callout">
            <p>
                {% for key,item in image_data %}

                    <br><img style="width:100%; max-width:700px" src="/{{ item.filename }}?r={{ random(5000) }}" alt="picture"> <br>
                    <div>
                <b>{{ item.Title }}</b> <br/>
                {{ item.Medium }}<br/>
                {{ item.Dimensions }}<br/>
                <hr/>
                    </div>
                {% else %}

                        No Image

                {% endfor %}

            </p>
        </div>
    </div>
    <div class="col-md-6">


        <div class="highlight bs-callout">



            {% if artist_data.Participating=='N' and artist_data.Active =='Y' %}

            <p> Artist Studio Not Open for 2019</p>
            {% else %}

                <div style="width: 100%; height: 280px; border: 1px" id="map_canvas" class="map rounded"></div>

                {% if artist_data.map_number is not empty %}
                <a href="{{ path('artists_directory_map_number' ,{'type':'list','mapNumber':artist_data.map_number }) }}" >Map #  {{artist_data.map_number}} </a>:

            {% endif %}

                {{artist_data.building_name}}<br/>
            {{artist_data.street_address}} -{{artist_data.address_details}}<br/>

            {% endif  %}

        </div>

        <div>

            <b>Social Media</b><br>
            {% if social_data is defined and social_data %}
                <ul>
                {% for sourceRow in social_data  %}
                    {%  if sourceRow.url  %}
                        <li><b>{{ sourceRow['short_name']}} </b>
                        {% if sourceRow.short_name == "website" or sourceRow.short_name == "other" %}
                            <a class="btn" href="{{  sourceRow['url'] }}">  {{  sourceRow['url'] }} </a>
                            {% else %}
                                <a class="btn" href="{{  sourceRow['url'] }}">  {{  sourceRow['url']  }} </a>
                            {% endif %}
                    {% endif %}

                {% endfor %}
                </ul>
            {% else %}
                <em> none yet. </em>
            {% endif %}


        </div>
           <div>
                  {% if artist_data.statement is not empty  %}
                      <b>Artists' Statement:</b><br/>
                      {{ artist_data.statement | convert_encoding('UTF-8','ISO-8859-1') |nl2br}}
                  {%  endif %}


           </div>

    </div>

    <br><br>
{% endblock content %}