{% extends 'common/basic_layout.html.twig' %}
{% set active = 'artists_directory' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Somerville Open Studios <br/> Artist Directory </h2>

            </div>
        </div>
    </div>

{% endblock jumbotron %}

{% block content %}

    <div class="col-md-6">

        <div class="staff_list highlight bs-callout bs-callout-danger">
            <h3> 2019 Artist Directory</h3>

            <p> Find a list of the hundreds of artists that participate in Somerville Open Studios </p>
            <h3> Search Artists</h3>

            {{ form_start(search_form) }}
            {{ form_errors(search_form) }}

            {{ form_widget(search_form.search_term) }}
            {{ form_widget(search_form.submit, { 'label': 'Search' }) }}

            {{ form_end(search_form) }}


            <h3> By Genre</h3>
            <ul>

            {% for key, value in genre_list %}

                <a class="btn btn-default btn-default btn-block" href="{{ path('artists_directory_list_genre2', {'type':"grid",  'genre': key}) }}">{{ value }}</a>

            {% endfor %}
            </ul>



        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <h3> ?? Random ?? </h3>
            <a class="btn btn-default btn-default btn-block" href="{{ path('artists_directory_random', {'type':"grid"}) }}"> Browse Thumbnail Grid </a>

        <h3> By Letter </h3>
        {% for value in search_letters %}
            <div class="col-md-2">
            <a class="btn btn-default btn-default btn-block" href="{{ path('artists_directory_list_alpha', {'type':"grid",  'letter': value}) }}">{{ value }}</a>
            </div>
        {% endfor %}

            <br/>



    </div>
    <h3> All </h3>
    <a class="btn btn-default btn-default btn-block" href="{{ path('artists_directory_list_all', {'type':"grid" }) }}"> Show All</a>


{% endblock content %}