{% extends 'common/basic_layout.html.twig' %}
{% set active = 'visit.artist_listing' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Visitor  Info</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron%}

{% block content %}


        <div class="bs-callout bs-callout-danger">    <h2>Member Artist Listings</h2>



        </div>


{% endblock content %}