{% extends 'common/basic_layout.html.twig' %}
{% set active = 'visit.faq' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Visitor FAQ</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron%}

{% block content %}


        <div class="bs-callout bs-callout-danger">    <h2>Visitor FAQ</h2>

            <p>Info on parking/ shuttles and guides to visiting</p>

        </div>


{% endblock content %}