{% extends 'common/basic_layout.html.twig' %}
{% set active = 'visit.events' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Visitor Events</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron%}

{% block content %}


    <h2>Visitor Events</h2>

    see the <a href="{{ path('visit.home') }}"> Visitor Homepage </a> for a full list of events
    <br>


    {% include "events_short/2019_fashion_show.html.twig" %}

    {% include "events_short/2019_first_look_show.html.twig" %}



    {#

        <div class="bs-callout bs-callout-danger">

            <h3 id="volunteer_show">2018 SOS Volunteer Show</h3>

            <p style="float:right; margin-left: 5px"><img
                        src="{{ app.request.basepath }}/images/event/volunteer_show_01.jpg" alt="SOS Volunteer Show"/><br>
            </p>

            <p><b>April 8 - May 20, 2018</b></p>
            <p><b>Opening Reception: Tuesday, April 15, 6 pm</b>
            <p><b><a href="http://diesel-cafe.com/" target="_blank"> Diesel Cafe,</a></b>  257 Elm St, Davis Square
                (<a href="https://www.google.com/maps/place/Diesel+Cafe/@42.3957661,-71.1240554,17z/data=!3m1!4b1!4m2!3m1!1s0x89e37718bae6b847:0xe391059b14ef127c?hl=en">map</a>)
            </p>
            <p>SOS is created and run by scores of fantastic volunteers from within and around our community.
                The Volunteer Appreciation Show highlights work from this elite group of artists in Union Square's
                popular and locally owned Diesel Cafe. View this show while enjoying tasty treats from our friends
                at Diesel from Forge Bakery and perusing your SOS map booklet.</p>

            <p><b>Diesel Cafe is open daily 7 am - 11 pm.</b></p>
        </div>



        <div class="highlight bs-callout bs-callout-danger">
            <div class="row">
                <h3 id="artists_choice">2018 Artists' Choice Exhibit</h3>

                <div class="col-md-3">
                    <img  src="{{ app.request.basepath }}/images/event/sos_museum2.jpg"
                          alt="Somerville Museum Artists Choice Show" width="175px" height="131"/>
                </div>
                <div class="col-md-6">
                    <b><a href="http://somervillemuseum.org/" target="_blank">Somerville Museum</a></b> 1 Westwood Road <a
                            class="btn btn-sm btn-warning" href="https://maps.google.com/maps?q=1+Westwood+Road,++Somerville,+MA+02143&hl=en&sll=42.386967,-71.104717&sspn=0.012473,0.027874&t=h&hnear=1+Westwood+Rd,+Somerville,+Middlesex,+Massachusetts+02143&z=16"
                            target="_blank">map</a>

                    <br/>Opening Reception: TBD
                    <br/>Museum Hours: 11-6 Sat-Sunday SOS weekend

                    <br/> <br/>
                    <p>The Artists' Choice Exhibit offers the best opportunity to preview the studios and artists' work.
                        All SOS participating artists are <a href="/participate/dropoff_pickup.php">invited to submit work</a>,
                        creating a group show that is unparalleled in
                        diversity and excitement. Come to the Artists' Choice Exhibit first to plan your weekend. </p>
                </div>
                <div class="col-md-3">
                    <img  src="{{ app.request.basepath }}/images/event/museum_show.jpg" alt="museum_show" width="200" height="143"/>
                </div>
            </div>
        </div>


        <div class="bs-callout bs-callout-danger">
            <div class="row">
            <h3 id="kids_show">20116 Kids' Art Show</h3>
            <div class="col-md-9">

            <p><b><a href="http://artsatthearmory.org/cafe" target="_blank">Arts at the Armory Cafe</a></b> 191 Highland Ave.
                <a class="btn btn-sm btn-warning" href="https://maps.google.com/maps?q=191+Highland+Ave,+Somerville,+MA&hl=en&ll=42.389788,-71.105962&spn=0.012472,0.027874&sll=42.386966,-71.104727&sspn=0.012473,0.027874&oq=191+Highland+Ave,+Somer&t=h&hnear=191+Highland+Ave,+Somerville,+Middlesex,+Massachusetts+02143-1543&z=16" target="_blank">map</a></p>

            <p><b>April 25 - May 8, 2015</b></p>
            <p><b>Cupcake Reception: Saturday, May 7, 2018, 12 noon - 2 pm</b>

            <p>Work by the littlest of Somerville's Future Artists.

                SOS Weekend cafe hours: Saturday, April 30: 8am - 6pm; Sunday, May 3: 11am - 6pm<br>
                Regular cafe hours: 8am - 6pm, Monday-Saturday. <br/>
                    <br/>
                Visit the Armory online at <a href="http://artsatthearmory.org/cafe" target="_blank"> artsatthearmory.com </a>

                    <!--<p>For more information on this show, including how to submit art, see the <a href="/visit/kids.php">SOS Kids</a> page.</p>-->
            </div>

            <div class="col-md-3">
                <img class="float_right" src="{{ app.request.basepath }}/images/event/kids_show.jpg" alt="2013_kids_show" width="200" height="136" />
            </div>


    #}





{% endblock content %}