{% extends 'common/basic_layout.html.twig' %}
{% set active = 'artists.calendar' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Artist's Calendar</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron%}

{% block content %}

<div class="col-md-12">

    <div class="col-md-12">


        <h1>Calendar </h1> <p> Watch this page for a listing of Somerville Open Studios Events. <br/>


            Access the calendar <a href="https://www.google.com/calendar/ical/qk87oansiv4f882qmspboqe8i8%40group.calendar.google.com/public/basic.ics"> iCal format </a> |
            | <a href ="https://www.google.com/calendar/feeds/qk87oansiv4f882qmspboqe8i8%40group.calendar.google.com/public/basic"> XML </a>
            | <a href ="https://www.google.com/calendar/embed?src=qk87oansiv4f882qmspboqe8i8%40group.calendar.google.com&ctz=America/New_York"> Web Format </a>
            <br>

        <h5>Tip: To see all upcoming events in a list, click "Agenda" below, on the Right</h5>
        <br>

        <iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=qk87oansiv4f882qmspboqe8i8%40group.calendar.google.com&amp;color=%23856508&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>
        <br><br>


    </div>

</div>

{% endblock content %}