{% extends 'common/basic_layout.html.twig' %}
{% set active = 'artists.events' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Artists' Events</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron%}

{% block content %}

<div class="col-md-12">

    <div class="col-md-12">


        <h1>Events </h1> 
        
        <div class="container">
        <h3>Beyond the Pattern Fashion Show</h3>
        
        <p>Thursday, May 2, 2019
        <p>Arts at the Armory, 191 Highland Ave.
        </div>
        
        <div class="container">
        <h3>SOS First Look Show</h3>
        
        <p>April-May, 2019: specific dates to be determined
        <p>Somerville Museum, One Westwood Road
        </div>
        
        <div class="container">
        <h3>SOS Volunteer Show</h3>
        
        <p>April 15 - May 16, 2019
        <p>Bloc Cafe, 11 Bow Street, Union Square
        </div>
        
        
        <br>
        <p> Watch this page for a listing of more Somerville Open Studios Events.




    </div>

</div>

{% endblock content %}