{% extends 'common/basic_layout.html.twig' %}
{% set active = 'login' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Member Pages</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron%}

{% block content %}

    <div class="col-md-12">

        {%if login_ok %}

            <h2> Logged in</h2>
            <a href = "{{  path('artists.my_profile') }}"> <button> Continue </button>  </a>


        {% else %}

            <h2>Login to site</h2>

            <br>
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.username) }}
            {{ form_row(form.password) }}
            <br/><br/>
            {{ form_row(form.submit, { 'label': 'Login' }) }}

            {{ form_end(form) }}

            <br>
            <a href="{{ path('password_reset_request') }}"> Forgot Password?</a>

        {% endif %}

    </div>

{% endblock content %}