{% extends 'common/basic_layout.html.twig' %}
{% set active = 'password_update' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Member Pages</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron%}

{% block content %}

    <div class="col-md-12">

        {%if not user_id_found %}

            <h2>  Password Reset</h2>
            <p> You passwork link doesn't appear to be correct.  Please try</p>
            <a href = "{{  path('password_reset_request') }}"> <button> Reseting Again </button>  </a>


        {% else %}

            {% if reset_ok %}

                <h2> Password Updated</h2>

                <p> Password reset successfully!</p>

            {% else %}

                <h2>Password Update</h2>

                <br>
                {{ form_start(form) }}
                {{ form_errors(form) }}

                {{ form_row(form.pw1) }}
                <br/><br/>
                {{ form_row(form.submit, { 'label': 'Update Password' }) }}

                {{ form_end(form) }}
            {% endif %}

        {% endif %}

    </div>

{% endblock content %}