{% extends 'common/basic_layout.html.twig' %}
{% set active = 'homepage' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row alert alert-info">

                <h2>Profile Home</h2>
                <br>

                <p>
                    This is your profile information
                </p>
            </div>
        </div>
    </div>

{% endblock jumbotron%}

{% block content %}

    {% include "common/map_js.html.twig" %}

    <div class="col-md-12">

        <div class="row">
            <hr>
            <div class="col-md-12">

                <h3> Current Profile</h3>
                <p> Every artist has an artist profile page.  This page contains the information about you and your
                art.   The artist profile pages are the most visited pages on the open studios
                web site and help visitors browsing art figure out who to visit.

                <p> <a class="btn btn-warning" href="{{ path('for_artists.show_my_profile') }}" target="_blank">Vist your current profile in a new window.</a> <br>
                Make updates from the links on this page</p>
            </div>
        </div>


    {# MAP BOOK ROW #}


    <div class="row">
        <div class="bs-callout-info bs-callout" style="margin-top: 15px" id="wrap">
            <h3> Map book Information</h3>
         {%  if artist_data.Participating == 'Y' %}

            <p> <em> This is information that is included in the mapbook if you are a participating artist.  We Freeze this information on Feb 18th, so we can
                get the information to the people making the printed mapbook.  Please update today!  Thanks</em></p>

            {% for key,item in mapbook_info_cols %}

                {%  if key =='PublicFirstName' %}
                    <span class="sos_label">Name: </span> <b>{{ artist_data.PublicFirstName}}  {{ artist_data.PublicLastName }} </b> <br/>
                {% elseif key == 'BusinessName' %}
                    {% if artist_data.BusinessNameOption == 'Y' %}
                        <span class="sos_label">Business Name: </span> <b> {{ artist_data.BusinessName }}</b> <br/>
                    {% endif %}
                {% elseif key == 'OrganizationDescription' %}
                    {% if artist_data.MemberType > 3 %}
                    <span class="sos_label">{{ item }}: </span> <b>{{ artist_data[key] }} </b> <br/>
                        {% endif %}
                {% elseif key == 'BusinessName' and  artist_data['BusinessNameOption'] == 'Y' %}
                    <span class="sos_label">{{ item }}: </span> <b>{{ artist_data[key] }} </b> <br/>
                {% elseif key == 'building_name' %}
                    {% if artist_data['building_name'] is not empty %}
                    <span class="sos_label">{{ item }}: </span> <b>{{ artist_data[key] }} </b> <br/>
                    {% endif %}
                {% else %}
                    <span class="sos_label">{{ item }}: </span> <b>{{ artist_data[key] }} </b> <br/>

                {% endif %}

            {% endfor %}
            <div stlye="clear:both"></div><hr>
            To update information visit: <a href="{{ path('update_artist_info')}}" class="btn btn-info"> Update Artist Info</a><br>
            To update Location visit: <a href="{{ path('update_location')}}" class="btn btn-info"> Update Location Info</a>


            <div style="width: 100%; height: 280px; border: 1px" id="map_canvas" class="map rounded"></div>
            <p> If the address is right but the location is wrong, let us know (webmaster<em></em>@somerverilleopenstudios.org </p>

            {% else %}
             <p> You are listed as non-participating so you will not be listed in the mapbook.  If this is not correct please let us know asap. (membership@..)</p>

            {% endif %}
        </div>
    </div>


    <div class="row">
            <hr>
            <div class="col-md-6">
                <h3>Contact Info</h3>
                <p> <em>Not available to the  Public.</em></p>

                {{ artist_data.FirstName}}  {{ artist_data.LastName }}  <br/>
                {{ artist_data.HomeAddressOne}}  {{ artist_data.HomeAddressTwo }}  <br/>
                {{ artist_data.HomeCity}}  {{ artist_data.HomeState }}  {{ artist_data.HomeZip }}    <br/>
                {{ artist_data.Phone}}  {{ artist_data.EmailAddress }}  <br/>
            </div>
            <div class="col-md-6">

                <br>


                <a href="{{ path('update_contact_info') }}" class="btn btn-info"> Update Contact Infromation</a>
            </div>
        </div>
        <div class="row" style="border-top: 1px solid #BBBBBB" >

            <div class="col-md-5">

                <h3>Artist Info</h3>


                {% for key,item in atist_info_cols %}

                    {%  if key =='PublicFirstName' %}
                        <span class="sos_label">Name: </span> <b>{{ artist_data.PublicFirstName}}  {{ artist_data.PublicLastName }} </b> <br/>
                    {% elseif key == 'BusinessName' %}
                        {% if artist_data.BusinessNameOption == 'Y' %}
                            <span class="sos_label">Business Name: </span> <b> {{ artist_data.BusinessName }}</b> <br/>
                        {% endif %}
                    {% else %}
                        <span class="sos_label">{{ item }}: </span> <b>{{ artist_data[key] }} </b> <br/>

                    {% endif %}
                    {# {% if artist_data.FridayNight == 'Y' %}
                            <span class="sos_label"><b> Studio Open on Friday Night</b>  <br/>
                         {% else %}
                             <span class="sos_label">  Not Open on Friday  <br/>
                         {% endif %}

         #}
                {% endfor %}
            </div>
            <div class="col-md-5">
                <h3>Artist's Statement</h3>

                {% if artist_data.statement is empty %}

                    <b>No Statement</b>

                {% else %}

                    {{  artist_data.statement |length > 250 ?  artist_data.statement |slice(0, 250) ~ '.....' | convert_encoding('UTF-8','ISO-8859-1') |nl2br: artist_data.statement | convert_encoding('UTF-8','ISO-8859-1') |nl2br  }}

                {% endif %}
            </div>

            <div class="col-md-2">
                <br>
                <a href="{{ path('update_artist_info')}}" class="btn btn-info"> Update Artist Info</a>
            </div>
        </div>

        {# LOCATION only for participating artists.#}

        {%  if artist_data.Participating == 'Y' %}

        <div class="row" style="border-top: 1px solid #BBBBBB">
            <hr/>
            <h3>Studio Location</h3>
            <div class="col-md-6">
                Building Name (4 or more people):<b> {{  artist_data.building_name }} </b><br/>
                Street Address: <b>{{  artist_data.street_address }} </b><br/>
                City: <b>{{ artist_data.city}} , {{ artist_data.state }} </b><br/>

            </div>
            <div class="col-md-6">
                <a href="{{ path('update_location') }}" class="btn btn-info"> Update Location</a>

            </div>
        </div>
        {% endif %}

        <div class="row" style="border-top: 1px solid #BBBBBB">
            <div class="col-md-6">
                <h3>Webstite / Social Media</h3>

                {% if social_data is defined and social_data %}
                    <ul>
                        {% for sourceRow in social_data  %}
                        {%  if sourceRow.url  %}
                        <li><b>{{ sourceRow['short_name']}} </b>
                            {% if sourceRow.short_name == "website" or sourceRow.short_name == "other" %}
                                <a class="btn" href="{{  sourceRow['url'] }}">  {{  sourceRow['url'] }} </a>
                            {% else %}
                                <a class="btn" href="{{  sourceRow['url'] }}">  {{  sourceRow['url']  }} </a>
                            {% endif %}
                            {% endif %}

                            {% endfor %}
                    </ul>
                {% else %}
                    none.
                {% endif %}

            </div>
            <div class="col-md-6">
                <br>
                <a href="{{ path('update_social_media')}}" class="btn btn-info"> Update Social Media</a>
            </div>
        </div>

        <div class="row" style="border-top: 1px solid #BBBBBB">
            <hr/>

            <h3>Images</h3>
            <a href="{{ path('update_thumbnails')}}" class="btn btn-info"> Update thumbnail</a>


            <div class="bs-callout">
                Thumbnail (small square representation of your work);<br>
                <img src="/{{ thumbnail }}?r={{ random(5000) }}" alt="thumbnail" width="100px" > <br>
            </div>
            <div class="bs-callout">
                <a href="{{ path('update_images')}}" class="btn btn-info"> Update images</a>
                Large images of your art that appear on your profile page<br>
                <p>
                    {% for key,item in image_data %}

                <div class="col-md-3">

                    <br><img src="/{{ item.filename }}" alt="{{ item.Title }}" width="90%" > <br>
                    <div>
                        <b>{{ item.Title }}</b> <br/>
                        {{ item.Medium }}<br/>
                        {{ item.Dimensions }}<br/>
                        <hr/>
                    </div>
                </div>
                {% else %}

                    No Image

                {% endfor %}

                </p>
            </div>
        </div>




    </div>

{% endblock content %}