{% extends 'common/basic_layout.html.twig' %}
{% set active = 'artists.home' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Thank you</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron%}

{% block content %}

<div class="col-md-12">

    <div class="col-md-12">


        <h3>THANK YOU </h3>
        <br>
        <p>
            Thank you for your  Registration.  You should be receiving an email when your membership is processed. <br><br>
        </p>
        <h2> Consider Volunteering</h2>
        <p>SOS is a organization run by its members.  Consider <a href="{{ path('volunteer.home') }}"> <b> Volunteering</b></a> a great way to help the organization save money and meet fellow artists.
        </p>
        <br><br><br>
        </p>
    </div>
</div>
    </div>


    </div>

</div>

{% endblock content %}