{% extends 'common/basic_layout.html.twig' %}
{% set active = 'first_look_show' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>First Look Show</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron%}

{% block content %}

<div class="col-md-12">

    <div class="col-md-12">

        <div class="bs-callout bs-callout-danger">
        <h3>Importand Artists Informatoin</h3>

            <ul>
        <li>Each registered artist is welcome to put one piece into the show, please no work that has been in this exhibit in prior years. This is not a juried show, all will be included.
        <li>Consider a piece that is truly representative of what you do! Many visitors use this show to decide which studios to visit.
        <li>Maximum dimensions for artwork are 40-inches horizontal x 60-inches vertical (including frame.)
        <li>2-d work should be ready to hang. If needed, please include any special hanging instructions.
        <li>We request that all pieces be self-contained without multiple parts.
        <li>If you are a video or multi-media artist, please contact Mara at the email below.  We would love to include you!
        <li>The submitted piece must be the art itself and not a picture of it.
        <li>Sculpture and other 3-d work are strongly encouraged! We have various pedestals, or you can supply your own.
        <li>Jewelers: Please supply a stand and/or other display materials (black cloth, etc.)
        <li>If you are an artist who works in more than one medium, please choose just one piece.
        <li>You may submit a one-page artist statement or bio to be included in the binder available to visitors.
            </ul>
                    <p>
                </p>



            <h3>Art Drop-Off Information</h3>


<ul>
        <li>You don't have to register in advance for this show, just bring your art to a drop-off.

        <li> It is helpful if you can print and fill out the drop-off form in advance. (Forms also available at the drop-off.)
            <a class="btn btn-primary" href="files/2018_first_look_drop_off_form.pdf">  submission form (pdf)  </a> Cut off the bottom portion of the completed form and attach it securely to the back of your artwork.
        <li>Please also write your name on the back of your artwork to ensure identification should the label come off your piece.
        <li>Don't forget your statement and/or bio. (Not required but helpful.)

        <li>  If you cannot make one of the drop off times, please find another artist or friend who can do it for you! We can't accept art outside of the scheduled drop-off slots.<p>
</ul>

        </div>

        <div class="bs-callout bs-callout-info">
            <h3>ART DROP-OFF TIMES</h3>


            <p><strong>Somerville Museum, One Westwood Rd. (Corner of Central St. Entrance on Westwood.)</strong> <br><ul>
                <li> 2019 dates coming soon
            </ul>



            <h3>Opening Reception</h3>

            <p> Date/times TBD TBD

            <h3>Exhibit on view</h3>
            <p> hours to be announced</a>

            <h3>Pick Up Times</h3>
            <p><b>At Somerville Museum, One Westwood Rd.</b><br>
            <ul>
                We do not have storage space and cannot take responsibility for artwork that is not picked up!
                <li>Dates/times tbd
            </ul>




            <h3>Sales</h3>
            <p> Any interested buyers will be referred directly to the artist, who is responsible for making all arrangements. The museum does not handle sales in any manner (other than providing access to the museum to facilitate a sale by the artist). 100 percent of proceeds go to the artist.</p>

            <h3>Questions?</h3>
            <p>Please email Mara Brod at <a href="mailto:firstlook@somervilleopenstudios.org">firstlook@somervilleopenstudios.org</a>.</p>
            <br>
            <p><span style="font-style: italic">Neither Somerville Open Studios nor The Somerville Museum assume any liability for and work displayed at the Museum: artists exhibit at their own risk.</span><br></p>
            <br>
            </p>
        </div>
    </div>
</div>



{% endblock content %}