{% extends 'common/basic_layout.html.twig' %}
{% set active = 'fashion_show' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Beyond the Pattern Show</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron%}

{% block content %}

    <div class="row">

        <div class="col-md-12">

            <img src="{{ app.request.basepath }}/web/images/event/fashion_show/20180503-_R2C2211.jpg" alt="fashion show image" style="width: 100%; max-width: 600px;">
        </div>
    </div>
            <div class="row">

                <div class="col-md-12">

        <div class="bs-callout bs-callout-danger">

        <h3>2019 Beyond the Pattern Wearable Art Show </h3>


                    <p> Beyond the Pattern is a dynamic showcase of original designs made by local artists with live models on the runway.  The show will take place at Arts at the Armory on Thursday, May 2nd, 7-9 pm. 
                    </p>

                    <p> <b>If you make wearable art of any type, we want you in the show.  </b>Past participants' work has included daily wear, street fashion, studio clothing, club wear, evening wear, recycled and other unconventional materials, large scale jewelry, hats, umbrellas, bags, masks, costumes, cosplay, and more.  If you are interested in participating, please check the Beyond the Pattern box on the options page when registering as an SOS artist, or email <a href="mailto:beyondthepattern@somervilleopenstudios.org">beyondthepattern@somervilleopenstudios.org</a>.
                    </p>

                    <p> <b>For this show to happen, we also need </b>volunteers to model, to document the show (photo and video), to manage the house (ushers, headcount, donations), and to provide technical and backstage assistance (hair, makeup, light, sound, coordination).  Please email beyondthepattern@somervilleopenstudios.org if interested. 
                    </p>

                    <p> All designers and models, and some tech staff, are required to attend a tech rehearsal on Wednesday, May 1st, 6-9pm, as well as the fashion show on Thursday, May 2nd.
                    </p>

                    <p> The show coordinators are Consuelo Perez (617-669-8598) and mikka (857-928-9291, pottery@mikkashar.com). 
                    
<p><b>All participating designers must register for open studios. </b> Models and volunteers need not register.  If you are a designer showing only at the wearable art show and not hosting an open studio during the weekend, please register as a non-exhibiting artist for a reduced registration fee.</p>


    </div>
</div>



{% endblock content %}