{% extends 'common/basic_layout.html.twig' %}
{% set active = 'support.donate' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Support Somerville Open Studios</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron%}



{% block content %}

    <div class="col-md-6">
        <div class="bs-callout bs-callout-info pfont">
            <h3>Current Profile Information</h3>

            <a class="btn btn-info"  href="{{    path('artists.my_profile') }}" > Back to member home </a><br>

            {% if profile_data is defined and profile_data %}

                {% for key, value in profile_data %}

                    {%  if key == 'Artist Statement' %}
                        <b> {{ key }}  : </b> <br> {{ value | convert_encoding('UTF-8','ISO-8859-1') |nl2br}}
                    {% else %}
                        <b> {{ key }}  : </b> {{ value }}  <br>
                    {% endif %}
                {% endfor %}



            {% endif %}
        </div>
    </div>
        <div class="col-md-6">
        <div class="bs-callout bs-callout-danger pfont">
            <h2> Update Your Profile Information  </h2>

            <ol>
                <li>Update Fields</li>
                <li>Click "update" button at bottom of form</li>
                <li>Confirm change in blue "Current profile Information"</li>
            </ol>

            {% if form_status is defined and form_status %}
                <h3> Form Updated </h3>

            {% endif %}


            <p> Your profile information helps visitors know about you and your art.
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_end(form) }}
            </p>

        </div>
    </div>



{% endblock content %}