{% extends 'common/basic_layout.html.twig' %}
{% set active = 'support.donate' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Support Somerville Open Studios</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron%}



{% block content %}

    <div class="col-md-12">
        <div class="bs-callout bs-callout-danger pfont">
            <h2> Update Your Profile Information  </h2>

            <a class="btn btn-info"  href="{{    path('artists.my_profile') }}" > Back to member home </a><br>

            {% if form_status is defined and form_status %}
                <h3> Form Updated </h3>
            {% endif %}




            <p> Your profile information helps visitors know about you and your art.
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_end(form) }}
            </p>

        </div>
    </div>



{% endblock content %}