{% extends 'common/basic_layout.html.twig' %}
{% set active = 'support.donate' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Support Somerville Open Studios!</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron%}

{% block content %}

    <div class="col-md-8">
        <div class="bs-callout bs-callout-danger pfont">
            <h2> Donate To Somerville Open Studios  </h2>
            <p> By lending your support, you are helping us promote the visual arts in Somerville. Current supporters include local businesses, artists, and individuals.
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_end(form) }}
            </p>

        </div>
    </div>

    <div class="col-md-4">
        <div class="bs-callout bs-callout-info pfont">
            <h2>Donation Information</h2>
            Please consider supporting us with your charitable donation.  Somerville Open Studios is a 501(c)3 non-profit organization founded to connect artists with the Somerville community through our annual open studios and other events.  We are volunteer run and rely on the financial support of both artists and art-lovers alike.  Your donation to Somerville Open Studios is tax deductible to the extent provided by law.
        <p>
        </p>
        </div>
    </div>

{% endblock content %}