{% extends 'common/basic_layout.html.twig' %}
{% set active = 'support.sponsor' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

{% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Sponsor Somerville Open Studios</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron %}

{% block content %}

    <div class="col-md-12">
        <div class="bs-callout bs-callout-danger highlight pfont">
            <h2>Sponsor Somerville Open Studios</h2>
            <h3> Pay By Mail  </h3>
            <p>
                Mail a check to Somerville Open Studios at:<br/>
                Somerville Open Studios<br/>
                PO Box 442115,<br/>
                Somerville, MA 02144<br/>
                <br/>
                Please contact <a href="mailto:sponsorship@somervilleopenstudios.org">sponsorship@somervilleopenstudios.org</a> if you have questions <br>

            </p>
            <h3> Pay Online  </h3>
            <p>Somerville Open Studios takes all major credit cards. Payments are processed by PayPal. Please fill out the following form and click Submit.

                Current SOS artists receive 15% off advertising. Contact sponsorship@somervilleopenstudios.org for more information.

                If you were given a code, please enter and hit submit before continuing </p>
        </div>
        <div class="bs-callout bs-callout-warning pfont">
            <h3> 2019 Ad Rates and Information</h3>


            <p>With a print run of between 10,000 and 20,000, and over a month of region-wide distribution, the SOS
                Mapbook is an excellent way to reach your customers. During SOS weekend thousands of
                studio vistors will spend the day touring Somerville with the aid of the SOS Mapbook. Many visitors keep
                their souvenir books, and will see your advertisement throughout the year. <br/>
            </p>

            Deadlines:
            </h4>
            <h4>
                February 18, 2019 - Ad commitments and payments due.<br/>
                February 25, 2019 - Artwork due.
            </h4>
            Current SOS artists receive 15% off advertising. Contact <a
                    href="mailto:sponsorship@somervilleopenstudios.org">sponsorship@somervilleopenstudios.org</a> for
            more information.
            </h5>

            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_end(form) }}



        </div>
    </div>

{% endblock content %}