{% extends 'common/basic_layout.html.twig' %}
{% set active = 'support.home' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Support Somerville Open Studios!</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron%}

{% block content %}

    <div class="col-md-8">
        <div class="bs-callout bs-callout-danger pfont">
            <h2> Support Somerville Open Studios  </h2>
            <p> By lending your support, you are helping us promote the visual arts in Somerville. Current supporters include local businesses, artists, and individuals.

            <h4> Ways to support SOS</h4>
            <ul>
                <li><a href="{{ path('support.sponsor') }}">Sponsor </a></li>
                <li><a href="{{ path('volunteer.signup') }}"> Volunteer </a></li>
                <li><a href="{{ path('support.donate') }}">Donate </a></li>
            </ul>

            To learn more about sponsorship options, please email sponsorship@somervilleopenstudios.org.<br>
            <br>
            By becoming a Somerville Open Studios sponsor, you help create a stronger more vibrant community. You are demonstrating your support of the vital role that the arts play in cultural and economic development. Thank you for supporting the arts in Somerville, and making our neighborhoods even stronger. All funds raised go directly towards expenses such as publicity, printing, and mailing costs.<br>
            </p>

        </div>
    </div>

    <div class="col-md-4">
        <div class="bs-callout bs-callout-info pfont">
            <h2>2018 Ad Rates and Information</h2>

        <p>With a print run of between 10,000 and 20,000, and over a month of region-wide distribution, the SOS Mapbook is an excellent way to reach your customers.  During SOS weekend, thousands of
            studio vistors will spend the day touring Somerville with the aid of the SOS Mapbook. Many visitors keep their souvenir books, and will see your advertisement throughout the year. <br>
        </p>
        </div>
    </div>

{% endblock content %}