{% extends 'common/basic_layout.html.twig' %}
{% set active = 'support.donate' %}

{% block menu %}

    {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Support Somerville Open Studios!</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron%}

{% block content %}

    <div class="col-md-8">
        <div class="bs-callout bs-callout-danger pfont">
            <h2> Twenty By Twenty Signup </h2>
            <p> By lending your support, you are helping us promote the visual arts in Somerville.
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_end(form) }}
            </p>

        </div>
    </div>

    <div class="col-md-4">
        <div class="bs-callout bs-callout-info pfont">
            <h2>Event Information</h2>

        <p>
            It will all take place on  <b>>Saturday, March 31, 2018, 1-5 pm at Mad Oyster Studio </b> <br>2 Bradley Street, Somerville, MA. <br>

            But you must register by Sunday March 18th!
        </p>
        </div>
    </div>

{% endblock content %}