{{ block('event_head', 'common/event_wrapper.html.twig') }}

<h2> Call for Art! Stipend available. </h2>

<h3>2019 Somerville Open Studios – The Soul of the City</h3>

<p>
The SOS Event Committee is seeking work to be used for the Map Guide cover, poster and postcard. It must evoke our 2019 theme of The Soul of the City. There will be a single stipend of $500 if submitted artwork is selected for use.
</p>
Guidelines:
<ul>
<li>Art must represent the theme - it can be an existing piece or one created especially for this call.

<li>Art must fit the parameters of the map with the understanding there will be text placement and trimming. Please see past map books for reference.

<li>We will give preference to Somerville artists but others may apply.

<li>Your art can have words but please understand we will have to add more.

<li>Submission Deadline Febuary 15, 2019. You can submit up to three images/sketches. If you are submitting a sketch and are chosen - final art must be delivered by March 1, 2019.

<li>All final images must be high resolution - 300+ dpi
</ul>

<p>
Please submit and/or If you have any questions please email:

    <b>coverart@somervilleopenstudios.org </b>

<p></p>
<h4>Quotes to inspire:</h4>

<p>
“During my 30 years at Americans for the Arts, I have had the great privilege to visit and
learn about a different community nearly every week. While they differ vastly from one another,
there is one common strength I have observed: the arts have made a profound impact on the
health of each community.”
<br>- Robert L. Lynch, President, Americans for the Arts
</p><p>
“Art is an effort to create, beside the real world, a more humane world.”
    <br>- <em>Andre Maurois, French Author</em>
</p><p>
“Variety of form and brilliancy of color in the object presented to patients are an actual means of recovery.”
    <br>- <em>Florence Nightingale</em>
</p><p>
“Art is a wound turned into light.”
    <br>- <em>Georges Braque</em>
</p><p>
"Every person who wants to live in Somerville should be able to live in Somerville.
    Every person. Our diversity is at the very heart of who we are as a community.
    It is our soul. We cannot lose it. We will not lose it."
    <br>- <em>Mayor Curtatone</em>
</p>

{{ block('event_foot', 'common/event_wrapper.html.twig') }}