{{ block('event_head', 'common/event_wrapper.html.twig') }}

<h2>Participating Artist? Update your Profile </h2>


<p>
For participating artists, please update the information (locations, name and short decriptions) that need to go into the printed map books by
    <b> Monday Feb 18th</b>
</p>
<a class="btn btn-danger" href="{{ path('login') }}"> Login and update.</a>
{{ block('event_foot', 'common/event_wrapper.html.twig') }}