<div class="bs-callout-info bs-callout" style="margin-top: 15px" id="wrap">

    <h2 id="see_art">See art in Somerville all year round</h2>

    <h3>February 2019</h3>

    <ul>

        <li><p><b><a href="http://www.somervillemuseum.org/ourstories.html">Our Stories, Our Stuff, Our Somerville</a></b>,
                at <a href="somervillemuseum.org">Somerville Museum</a>, One Westwood Road, February 14 - March 31.

        <li>
            <p><b><a href="http://www.libraryinsight.net/eventdetails.asp?jx=sep&lmx=%C9gg%21%A3%AE&v=3">Here and There</a></b>, by Katie Sussman, at <a
                        href="http://SomervillePublicLibrary.org">Somerville Public Library</a>, 79 Highland Ave., February 7-27.

        <li><p><b><a href="https://brickbottom.org/?exhibition=whats-so-funny">What's So Funny? Humor, Wit, Comedy, & Comics</a></b>, at <a href="https://brickbottom.org/general-info-gallery/">Brickbottom Gallery</a>, One Fitchburg Street,
                Thursdays-Saturdays, 12-5 pm, through February 23.

        <li><p><b><a href="http://artgallery.tufts.edu/exhibitions/2018/harryDodge.htm">Harry Dodge: Works of Love</a></b>,
                at <a href="https://artgallery.tufts.edu/plan/index.htm">Aidekman Art Center of Tufts University</a>, 40 Talbot
                Avenue, through April 14.
            
        <li><p><b><a href="http://marthafriend.com/mf_friendsmith.php">The Friend Smithsonian Museum</a></b> is an outdoor
                exhibit in the front yard of <a href="/artists/artist_profile.php?artistID=209">Martha Friend</a>'s house at 135
                Highland Avenue, featuring a rotating set of artists. The current exhibit is <b>"Your handbag should always match your shoes." and other dumb fashion rules</b>, by Martha Friend.

    </ul>
    
    <h3>March-April 2019</h3>

    <ul>
    <li><p><b>I Read the News Today, Oh Boy</b>, featuring art by Gary Duehr, Chantal Zakari, and Linda Bond.  At <a href="https://brickbottom.org/general-info-gallery/">Brickbottom Gallery</a>, One Fitchburg Street,
                Thursdays-Saturdays, 12-5 pm, March 7 - April 6.<br>
                Opening reception: Sunday, March 10, 5-7 pm

            <p><b><a href="http://www.libraryinsight.net/eventdetails.asp?jx=sep&lmx=%C9gn%25%A3%AD&v=3">New Tellings</a></b>, by Courtney Chelo and Jamie Kaplowitz Gibbons, at <a
                        href="http://SomervillePublicLibrary.org">Somerville Public Library</a>, 79 Highland Ave., March 3-30.<br>
                    Opening reeption: Saturday, March 9, 1:00-4:00pm

        <li><p><b><a href="http://navegallery.org/wp/avatars-cfe/">Avatars</a></b>, at <a
                        href="http://navegallery.org/wp/nave-gallery/">Nave Gallery</a>, 155 Powder House Blvd., March 22 - April 6, 2019.<br>
                Opening reception: Friday, March 22
                
        <li><p><b><a href="http://www.millerstreetstudios.net/">Miller Street Open Studios</a></b>, 11 Miller Street (near Beacon Street Star Market), April 5-7.

    </ul>

    <p>If you know of a current or upcoming art exhibit <b>in Somerville</b> that isn't listed here,
        please send e-mail to <a href="mailto:see_art@somervilleopenstudios.org">see_art@somervilleopenstudios.org</a> .</p>
</div>
