/* Move down content because we have a fixed navbar that is 50px tall */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500);

.jumbotron {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top:40px;
}