/*

SOS Custom styles go HERE!

*/
.staff_list .h3p {padding-right: 14px;
    padding-left: 12px;

}

.staff_list .h4p {padding-right: 20px;
    padding-left: 36px;

}

.staff_list .h5p  {padding-right: 20px;
    padding-left: 40px;

}

.staff_list .h5 {
    font-weight: bold;
}

.staff_list {

}
#nav {
    width: 100%;
    position: static;
    top: -32px;
}
#nav.affix {
    position: fixed;
    top: 0;
    z-index:10;
    -webkit-transition: all .6s ease-in-out;
}

.thumbnail_label {
    color: #000011;
    font-size: .8em;
    margin-top: 5px;

}

.clear {
    clear:both;
}