/*!
 * Parts of the DOCS (documentation (docs.min.css) style sheet from bootstap used by SOS.
 *
 * Bootstrap Docs (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under the Creative Commons Attribution 3.0 Unported License. For
 * details, see https://creativecommons.org/licenses/by/3.0/.
 */

.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #E3E5EA;
    border: 1px solid #e1e1e8;
    border-radius: 4px
}

.highlight pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    word-break: normal;
    white-space: nowrap;
    background-color: transparent;
    border: 0
}

.highlight pre code {
    font-size: inherit;
    color: #333
}

.highlight pre code:first-child {
    display: inline-block;
    padding-right: 45px
}

.table-responsive .highlight pre {
    white-space: normal
}

/* Callouts for boxes around text */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px
}



.bs-callout h3 h4 {
    margin-top: 0;
    margin-bottom: 5px
}

#.bs-callout p:last-child {
#    margin-bottom: 0
#}

.bs-callout code {
    border-radius: 3px
}

.bs-callout + .bs-callout {
    margin-top: -5px
}

.bs-callout-danger {
    border-left-color: #ce4844
}


.bs-callout-danger h4,
.bs-callout-danger h3
{
    color: #ce4844
}


.bs-callout-warning {
    border-left-color: #aa6708
}
.bs-callout-warning h4,
.bs-callout-warning h3
{
    color: #aa6708
}

.bs-callout-info {
    border-left-color: #1b809e
}

.bs-callout-info h4,
.bs-callout-info h3
{
    color: #1b809e
}

.clear2 { clear: left; }
.float2 { float: left; }
