{#<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script>#}
<script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyBcX6O6spnQHwhY3BHEUaf0WyE_oarj6ho&sensor=true"></script>
<script type="text/javascript" src="{{ app.request.basepath }}/web/js/jquery.tablesorter.js"></script>
<script type="text/javascript" src="{{ app.request.basepath }}/web/js/jquery.ui.map.min.js"></script>
<script type="text/javascript" src="{{ app.request.basepath }}/web/js/jquery.ui.map.extensions.js"></script>
<script type="text/javascript" src="{{ app.request.basepath }}/web/js/jquery.ui.map.overlays.min.js"></script>
<script type="text/javascript" src="{{ app.request.basepath }}/web/js/markerclusterer.min.js"></script>


<script type="text/javascript">


    $(document).ready(function( ) {

        var showSponsors = false;
        var showExhibits = false;
        var showTrolley = false;

        var data= {{ map_json|raw }} ;
//var startPosition = new google.maps.LatLng( , );

        var iconH=37;
        var iconW=24;



        $('#map_canvas').gmap({'center': '{{ map_settings.initial_center }}', 'zoom':18, 'zoomControl': true}).bind('init', function(evt,map) {
            // This URL won't work on your localhost, so you need to change it
            // see http://en.wikipedia.org/wiki/Same_origin_policy

            $.each( data.markers, function(i, marker) {

                $('#map_canvas').gmap('addMarker', {
                    'icon': {'url' :'/web/images/mapicons/orange/number_'+marker.map_number+'.png',
                        'scaledSize' : {'width':iconW, "height":iconH},
                    },
                    'position': new google.maps.LatLng(marker.latitude, marker.longitude),
                    {% if map_settings.bounds is defined %}
                        'bounds': {{ map_settings.bounds }},
                    {% else %}
                        'bounds': true,
                    {% endif %}
                    'title': marker.title
                }).click(function() {
                    $('#map_canvas').gmap('openInfoWindow', { 'content': marker.content }, this);
                });
            });



            //Sponsor icons
            if (showSponsors) {
                $.each(sponsorData.markers, function (i, marker) {
                    $('#map_canvas').gmap('addMarker', {
                        'icon': {
                            'url': '/web/images/mapicons/blue/number_' + marker.map_icon,
                            'scaledSize': {'width': iconW, "height": iconH},
                        },

                        'position': new google.maps.LatLng(marker.latitude, marker.longitude),
                        'bounds': false,
                        'title': marker.title
                    }).click(function () {
                        $('#map_canvas').gmap('openInfoWindow', {'content': marker.content}, this);
                    });

                });
            }

            // exhibit icons
            if (showExhibits) {
                $.each(exhibitData.markers, function (i, marker) {
                    $('#map_canvas').gmap('addMarker', {
                        'icon': {
                            'url': '/web/images/mapicons/' + marker.color + '/' + marker.map_icon,
                            'scaledSize': {'width': iconW, "height": iconH},
                        },

                        'position': new google.maps.LatLng(marker.latitude, marker.longitude),
                        'bounds': false,
                        'title': marker.title
                    }).click(function () {
                        $('#map_canvas').gmap('openInfoWindow', {'content': marker.content}, this);
                    });

                });
            }

            //set clustering

            var clusterStyles = [
                {
                    textColor: 'white',
                    url: '/web/images/mapicons/m1.png',
                    height: 50,
                    width: 50
                },
                {
                    textColor: 'white',
                    url: '/web/images/mapicons/m1.png',
                    height: 50,
                    width: 50
                },
                {
                    textColor: 'white',
                    url: '/web/images/mapicons/m1.png',
                    height: 50,
                    width: 50
                }
            ];

            mcOptions = {gridSize: 10, maxZoom: 15,   styles: clusterStyles};

            $(this).gmap('set', 'MarkerClusterer', new MarkerClusterer(map, $(this).gmap('get', 'markers'), mcOptions )   );

            //Trolley, info-booth, parking icons
            if (showTrolley) {
                $.each( overlayData.markers, function(i, marker) {
                    $('#map_canvas').gmap('addMarker', {
                        'icon': {'url':'/web/images/mapicons/'+marker.map_icon,
                            anchor : new google.maps.Point(15, 15)
                        },
                        'position': new google.maps.LatLng(marker.latitude, marker.longitude),
                        'bounds': false ,
                        'title': marker.title
                    }).click(function() {
                        $('#map_canvas').gmap('openInfoWindow', { 'content': marker.content }, this);
                    });

                });


                var trollyCoordinates =

                        [

                            new google.maps.LatLng(42.3796573862901, -71.0877013206482),
                            new google.maps.LatLng(42.37781868179893, -71.08628511428833),

                        ];


                var trolleyPath = new google.maps.Polyline({
                    path: trollyCoordinates,
                    strokeColor: "#FF0000",
                    strokeOpacity: 0.5,
                    strokeWeight: 5
                });

                trolleyPath.setMap(map)
            }
        });

    });// document ready

</script>