
<!-- Fixed navbar -->

    <ul class="nav nav-sidebar">


        {% for key,item in side_menu %}

            {% if item is iterable %}
                <li class="dropdown">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ key }}
                        <strong class="caret">   </strong></a>
                    <ul class="dropdown-menu">


                        {% for dropdown_key,dropdown_url in item %}
                            <li>
                                {% if dropdown_url != '#' %}
                                    <a href="{{ path(dropdown_url) }}">{{ dropdown_key }}</a>
                                {%  else %}
                                    <a href="{{ dropdown_url }}">{{ dropdown_key }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {%  else %}

                <li {% if item == active %}class="active"{% endif %}> <a href="{{  path(item) }}"> {{ key }} </a></li>

            {%  endif %}

        {% endfor %}

    </ul>
