
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                <span class="sr-only">Toggle navigation</span>
                Menu
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="/" title="SOS Homepage">
                <img style=" margin-top:10px; margin-right:10px" src="/web/images/SOS_LOGO_YO.png" alt="logo" height="50px">
                <small><b>May 3+4+5 2019 </b></small>

            </a>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">


                        <li> <a href="{{ path('visit.home') }}">VISITOR INFO</a>  </li>


                        <li > <a href="{{ path('for_artists.home') }}"> FOR ARTISTS </a></li>



                        <li class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">SUPPORTERS
                                <strong class="caret">   </strong></a>
                            <ul class="dropdown-menu">


                                <li>
                                    <a href="{{ path('support.sponsor')}}">SPONSOR</a>
                                </li>
                                <li>
                                    <a href="{{ path('support.donate')}}">DONATE</a>
                                </li>
                                <li>
                                    <a href="{{ path('volunteer.home')}}">VOLUNTEER</a>
                                </li>
                            </ul>
                        </li>



                        <li > <a href="{{ path('artists_directory')}}"> ARTIST DIRECTORY </a></li>

                        <li > <a href="{{ path('about.home')}}"> ABOUT  </a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        {% if  app.username  is defined and app.username  is not null  %}
                            <li> <a href="{{ path('artists.my_profile') }}"> My Profile <br> ({{app.username}})</a></li>
                        {% else %}
                            <li><a href="{{ path('login') }}"> Login </a></li>
                        {% endif %}

                    </ul>

                </div><!--/.nav-collapse -->
            </ul>
        </div>
    </div>
</nav>
