{% extends 'common/basic_layout.html.twig' %}
{% set active = 'homepage' %}

    {% block head %}
        <style>
            #box_1 {
                position: relative;
                width: 170px;
                height: 170px;
                background: #ee3e64;
            }

            #box_2 {
                position: relative;
                left: 200px;
                width: 200px;
                height: 200px;
                background: #44accf;
            }

            #box_3 {
                position: relative;
                width: 200px;
                height: 200px;
                background: #b7d84b;
            }

            .blockL {
                float: left;
                width: 160px;
                height: 180px;
                margin-left: 5px;

            }

            .blockR {
                float: left;
                width: 200px;
                height: 200px;

            }
        </style>
        {{ parent() }}

        <script xmlns="http://www.w3.org/1999/html">
            $(document).ready(function () {

                // SPONSOR ROTATOR SCRIPT
                // ======================

                // Ads are stored in an array
                var ads = [];

                function renderAd() {
                    // Get the ad we're about to display
                    // Using shift actually removes the ad from the array
                    var currentAd = ads.shift();

                    // Using an array for string concatenation 'cause it's easier to read
                    var ad_block = [
                        '<div class="float_left" style="border: 0px; width: 200px; height: 120px;">',
                        '<a href="', currentAd.link, '" target="_blank">',
                        '<img style="height:100%" src = "',
                        'support/images/', currentAd.image_name, '_logo.jpg',
                        '" alt="Logo for ', currentAd.sponsor_name, '" />',
                        '</div><br/>',
                        '<a href="', currentAd.link, '" target="_blank">',
                        '<b>', currentAd.sponsor_name, '</b> </a>',
                        '<p>', currentAd.description, '<br> '
                    ].join('');

                    // render the ad
                    jQuery('#sponsors').html(ad_block);

                    // Move the ad that was just shown to the end of the queue
                    ads.push(currentAd);
                }

                // Another global just in case we need to kill it later
                var adTimerId;

                function jStartAds(adData) {
                    // add all of the returned Ad data to our ads array
                    ads = ads.concat(adData);
                    SOSInvigorated(1)
                    // show placeholder
                    jQuery('#sponsors').html("<b> Welcome our Sponsors! </b>").show();

                    adTimerId = setInterval(renderAd, 3500);
                }


                $(document).ready(function () {
                    $.getJSON('data/ads_json.php').then(jStartAds);
                });
            })

        </script>
    {% endblock head %}

{% set active = active|default(null) %}






{% block jumbotron %}
    <div style="background-color:#282425" class="jumbotron" >
        <img style="height:150px" src="{{ app.request.basepath }}/web/images/2019SOSwebsiteHeaderOL.png" alt="logo">  <span style="color:white">Your Design Here? (see our call for art below) </span>
    </div>

{% endblock jumbotron %}



        {% block menu %}

            {% include "common/menu_top_static.html.twig" %}

        {% endblock menu %}



        {% block content %}
            {# included Implicitly..
            <div class="row">
                <div class="col-md-12">
                #}
            {#      <div class="alert alert-danger"">
                   <h2>A message</h2>
                  <p> You are looking at the new Open Studios Website.  It was a lot of work to get it up. <br>
                       Its "feature complete" but there is still a lot of building out to do which will be done in the next
                      couple of months. . <br>
                       If you are interested in helping out come to the meetings in January or join the IT/Website group
                      on slack.
                 <br><br>
                      Also: Registration is now open <a class="btn btn-danger btn-large" href="https://join.somervilleopenstudios.org"><b>Register Today</b></a>
                      <br>
                      Thanks<br>
                      Aram
                      Volunteer webmaster (webmaster@somervilleopenstudios.org)

                  </p>
    #}


            {% include "common/social_media_menus.html.twig" %}
            </div>
            </div>

            <!-- COL 1 -->
            <div class="row">
                <div class="col-md-7">
                    <div class="alert alert-info">
                        <h2>Upcoming Events</h2>
                        <!--img style="float:left" src="images/SOS_2013_LOGO_YO.jpg" alt="logo" height="60px" -->

                        <p>
                            We have a <a href="{{ path("artists.calendar") }}"> Calendar </a> with all the member events. Add SOS events
                            to your iCal or google calendar.
                        </p>
                    </div>
                    {% include "blocks/2019_profile_update.html.twig" %}
                    {% include "events_short/2019_meeting_feb.html.twig" %}
                    {% include "events_short/2019_fashion_show_feb_meeting.html.twig" %}



                    <h3>Art Calls</h3>
                    {% include "blocks/2019_call_cover_art.html.twig" %}


                    <div class="alert" id="reorg">

                        <div class="bs-callout">

                            <h3> Somerville Open Studios 2019 Planning Meetings </h3>

                            <img src="{{ app.request.basepath }}/web/images/SOSInvigorated.jpg" id="sos logo" alt="sos logo" height="200px">
                            <p> Somerville Open Studios is being run as commitees this year. Come to an organizational meeting or</p>
                            <br>email us as at <a href="mailto:domore@somervilleopenstudios.org"><b>domore@somervilleopenstudios.org</b> </a> if
                            you have an interest in one of the initiatives, have questions, ideas or inspiration!

                            {#Some of our <a href="participate/2019_initiatives.php"><b>various initiatives</b></a>.#}

                            <p>We're using Slack software for internal converstation and communications. Email <a
                                        href="mailto:webmaster@somervilleopenstudios.org"><b>webmaster@somervilleopenstudios.org</b> </a> if you
                                need an invite to the SOS Slack workspace <a style="margin:5px" class="btn btn-primary"
                                                                             href="https://somervilleopenstudios.slack.com/"> # Slack</a>


                            <p>As an organization that is above all else about bringing artists together and building community, we need your
                                help, insight and, most importantly, your enthusiasm to forge the future of SOS. What do you want SOS 2019 to
                                be? What would you like to improve? We want to hear from you! Email us at...

                            <p style="text-align:center"><b><u><a href="mailto:domore@somervilleopenstudios.org">domore@somervilleopenstudios.org</a></u></b>
                            </p>
                        </div>



            {# See art all year round #}
                        {% include "blocks/see_art_all_year_round.html.twig" %}




                </div>
            </div>

            <!-- COL 2 -->


            <div class="col-md-5">
                <div class="bs-callout" style="background-color: #dee0e9;">
                    <h2> Artists</h2>
                    <hr/>

                    <h4>Search:</h4>
                    {{ form_start(search_form) }}
                    {{ form_errors(search_form) }}

                    {{ form_widget(search_form.search_term) }}
                    {{ form_widget(search_form.submit, { 'label': 'Seach' }) }}

                    {{ form_end(search_form) }}

                    <br>
                    <a class="btn btn-warning btn-large" href="{{ path('artists_directory') }}">Browse Artists</a>


                    <h3> Random Artists</h3>
                    {% for key,item in random_artists %}

                        <a href="{{ app.request.basepath }}/artists/artist_profile/{{ item.id }} ">
                            <div class="blockL">
                                <img src="/artist_files/artist_images/splash/{{ item.id }}.jpg" height="150"
                                     width="150"
                                     alt="{{ item.PublicFirstName }} {{ item.PublicLastName }} Art ">
                                {{ item.PublicFirstName }} {{ item.PublicLastName }}
                                {% if item.BusinessName is not empty %}
                                    <br/>{{ item.BusinessName }}
                                {% endif %}

                            </div>
                        </a>
                    {% endfor %}

                    <div style="clear: both;"></div>


                    <div class="">
                        <h3> More Artists</h3>
                        <a class="btn btn-warning btn-block" href="{{ path('artists_directory_random', {'type':"grid"}) }}"> Browse
                            Thumbnail Grid </a>
                    </div>

                </div>

            </div>
            </div>


            <!-- Footer -->


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">


                    </h3>
                </div>

                <div class="panel-body" style="background-color:#D9EDF7">
                    <h4 style="padding-top:0.5em">Mailing List</h4>

                    <form name="ccoptin" action="http://visitor.constantcontact.com/d.jsp" target="_blank"
                          method="post" style="margin-bottom:3;"><span
                                style="background-color: #006699;float:right;margin-right:5;margin-top:3"></span>

                        <p class="shaded">enter your email address <br>
                            <input type="text" name="ea" size="20" value=""
                                   style="font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; font-size:10px; border:1px solid #999999;"><br>
                            <input type="submit" name="go" value="Join SOS Mailing List!" class="submit"
                                   style="font-family:Verdana,Arial,Helvetica,sans-serif; font-size:10px;">
                            <input type="hidden" name="m" value="1102783429438">
                            <input type="hidden" name="p" value="oi">
                        </p>
                    </form>
                </div>
                <div class="panel-footer">

                </div>
            </div>
        {% endblock content %}
    {% block footer %}
        {{ parent() }}
    {% endblock footer %}

