
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

            <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ path('homepage') }}" title="SOS Homepage"><img style="float:left; margin-top:10px; margin-right:10px" src="{{ app.request.basepath }}/web/images/SOS_LOGO_YO.png" alt="logo" height="50px"></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">

                        {% for key,item in main_menu %}

                        {% if item is iterable %}
                            <li class="dropdown">

                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ key }}
                                    <strong class="caret">   </strong></a>
                                <ul class="dropdown-menu">


                                    {% for dropdown_key,dropdown_url in item %}
                                        <li>
                                            {% if dropdown_url != '#' %}
                                                <a href="{{ path(dropdown_url) }}">{{ dropdown_key }}</a>
                                            {%  else %}
                                                <a href="{{ dropdown_url }}">{{ dropdown_key }}</a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {%  else %}

                            <li {% if item == active %}class="active"{% endif %}> <a href="{{  path(item) }}"> {{ key }} </a></li>

                        {%  endif %}

                        {% endfor %}


                    </ul>
                  <ul class="nav navbar-nav navbar-right">
                        <li>   <a  href="{{ path('login') }}"> Login </a></li>
                  </ul>

                </div><!--/.nav-collapse -->
            </ul>
        </div>
    </div>
</nav>
{#
{% for key,item in main_menu %}

                    {% if item is iterable %}
                    <li class="dropdown">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ key }}
                        <strong class="caret">   </strong></a>
                    <ul class="dropdown-menu">


                        {% for dropdown_key,dropdown_url in item %}
                            <li>
                                {% if dropdown_url != '#' %}
                                    <a href="{{ path(dropdown_url) }}">{{ dropdown_key }}</a>
                                {%  else %}
                                    <a href="{{ dropdown_url }}">{{ dropdown_key }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    </li>
                    {%  else %}

                           <li {% if item == active %}class="active"{% endif %}> <a href="{{  path(item) }}"> {{ key }} </a></li>

                    {%  endif %}

                {% endfor %}


            </ul>
        </div>
    </div>
</nav>
#}