{{ block('event_head', 'common/event_wrapper.html.twig') }}

    <h2> Beyond The Pattern</h2>
<h3> The Somerville Open Studios Fashion Show.</h3>
    <p> May 2nd,  Arts At The Armory, Highland Ave Somerville</p>
    <a class="btn btn-info" href="{{ path("show_event_page", {'event_name': '2019_fashion_show'}) }}">
       Fashion Show Details </a>
{{ block('event_foot', 'common/event_wrapper.html.twig') }}