{{ block('event_head', 'common/event_wrapper.html.twig') }}

<h2> First Look Show - At the Somerville Museum</h2>

<h3 id="first_look">SOS First Look Exhibit</h3><img class="float_right" src="{{ app.request.basepath }}/web/images/event/first_look/2013_sos_museum2.jpg" alt="2013_sos_museum2"  height="175" /> <img src="{{ app.request.basepath }}/web/images/event/first_look/2017_0423-IMG_8437.jpg" height="175"><p><b></b></p>
<p><b>April - May , 2018</b></p>
<p><b>Opening Reception: TBD </b>

<p><b><a href="http://somervillemuseum.org/" target="_blank">Somerville Museum</a></b> 1 Westwood Road (<a href="https://maps.google.com/maps?q=1+Westwood+Road,++Somerville,+MA+02143&hl=en&sll=42.386967,-71.104717&sspn=0.012473,0.027874&t=h&hnear=1+Westwood+Rd,+Somerville,+Middlesex,+Massachusetts+02143&z=16" target="_blank">map</a>)</p>


<p>The SOS First Look Exhibit offers the best opportunity to preview the studios and artists' work.
    All SOS participating artists are invited to submit work, creating a group show that is unparalleled in
    diversity and excitement. Come to SOS First Look to plan your weekend. </p>



{{ block('event_foot', 'common/event_wrapper.html.twig') }}
