{{ block('event_head', 'common/event_wrapper.html.twig') }}

    <h2> Flatbread Fundraiser</h2>
<h3> The Somerville Open Studios Flatbread fundraiser.</h3>
    <p>  Save the Date <b>April 16th! </b>, <a href="https://www.flatbreadcompany.com/sacco/"> Flatbread Pizza </a>
        45 Day Street. Davis Square Ave Somerville</p>
    <p>
        Portions of each pizza purchased help fund SOS. ( The Flatbread Company will donate $3.50 for each la
        rge flatbread and $1.75 for each small flatbread sold during the benefit.)
    </p>
{{ block('event_foot', 'common/event_wrapper.html.twig') }}