{% set event_class = "bs-callout bs-callout-info" %}
{{ block('event_head', 'common/event_wrapper.html.twig') }}



    <h2> February Fashion Show Meeting</h2>
    <p>
        <b>Monday, February 25th, 6:30 pm</b><br>
        Location:<b> Somerville Central Library auditorium, 79 Highland Ave</b>

{{ block('event_foot', 'common/event_wrapper.html.twig') }}
