{{ block('event_head', 'common/event_wrapper.html.twig') }}

<h2> Volunteer Show  - At the Bloc 11</h2>

<h3 id="first_look">SOS Volunteer Show</h3>

{# Images can go here... These are somerville musuem filler
<img class="float_right" src="{{ app.request.basepath }}/web/images/event/first_look/2013_sos_museum2.jpg" alt="2013_sos_museum2"  height="175" />
<img src="{{ app.request.basepath }}/web/images/event/first_look/2017_0423-IMG_8437.jpg" height="175"><p><b></b></p>
#}

<h3> If you volunteered for SOS this or last year you are eligable for the volunteer show</h3>
<p><b>April 15 -May 16</b></p>
<p><b>Opening Reception: TBD </b>

<p><b><a href="http://bloc11.com/" target="_blank">BLOC 11 cafe</a></b> 11 Bow Street

    (<a href="https://www.google.com/maps/place/11+Bow+St,+Somerville,+MA+02143/@42.380875,-71.09669,16z/data=!4m5!3m4!1s0x89e370cb30213a85:0xe3f64a14787decba!8m2!3d42.3808746!4d-71.0966903?hl=en-US" target="_blank">map</a>)</p>


<p> The SOS Volunteer highlight the work of the Hard Working Volunteers that make Somerville Open Studios happen. </p>


<p>
    <b>Drop off</b>:  Sat  3/30 Sun 3/31 Sat 4/6 Where/when TBD<br>

    <b>Pick up</b>: May Sat 5/18 Sun 5/19 Where/when TBD

</p>

{{ block('event_foot', 'common/event_wrapper.html.twig') }}
