{% extends 'common/basic_layout.html.twig' %}
{% set active = 'fashion_show' %}


 {% block menu %}

     {% include "common/menu_top_static.html.twig" %}

 {% endblock menu %}


{% block jumbotron %}
    <div class="jumbotron" style="margin-bottom: 0px">
        <div class="container">
            <div class="row">

                <h2>Beyond the Pattern Show</h2>

            </div>
        </div>
    </div>

{% endblock jumbotron%}

{% block content %}

    <div class="row">

        <div class="col-md-1">
        </div>
        <div class="col-md-11">
            <img src="{{ app.request.basepath }}/web/images/event/fashion_show/20180503-_R2C2094.jpg" alt="fashion show image" style="width: 100%; max-width: 600px;">
        </div>
    </div>
    <div class="row">

        <div class="col-md-12">

            <div class="bs-callout bs-callout-danger">

                <h3>2019 Beyond the Pattern Wearable Art Show </h3>


                <p> Beyond the Pattern is a dynamic showcase of original designs made by local artists with live models on the runway. <b> The show will take place at Arts at the Armory on Thursday, May 2nd, 7-9 pm.</b>
                </p>

                <h4> More Details soon </h4>
                <p> If you are interested in getting a closer or behind the scenes view consider <a href="{{ path('fashion_show') }}"> Getting information on volunteering</a>


            </div>
        </div>
    </div>



{% endblock content %}